@font-face {
  font-family: "Tomodachy Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Tomodachy Regular"), url("Tomodachy.woff") format("woff");
}

* {
  background-color: rgb(133, 203, 144);
  padding: 0.5rem;
  margin: 0;
  box-sizing: border-box;
  color: #3f3e3d;
}

body {
  font-family: "Tomodachy Regular";
}

header {
  padding: 0;
}

nav {
  position: fixed;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  top: 1rem;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  padding: 0;
  display: inline-block;
  color: white;
  font-size: 1.6rem;
  margin-left: 2.5rem;
}

main {
  margin-top: 6rem;
}

section {
  margin-top: 1rem;
}

h1,
h2 {
  margin-left: 2%;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.ul {
  background-color: #297f37;
}

.floatLeft {
  float: left;
  padding-right: 0.5rem;
}

.floatRight {
  float: right;
  padding-left: 0.5rem;
  margin-right: 4rem;
}

.clear {
  clear: both;
}

/* FOOTER */

footer {
  clear: both;
  background-color: #297f37;
  color: white;
}

.footer-bg {
  background-color: #297f37;
}

.impressum {
  display: inline-block;
  background-color: #297f37;
}

ul,
li,
a {
  list-style: none;
  background-color: #297f37;
}

/* PRODUKTE */

.products-display {
  display: inline;
}

.button {
  background-color: #297f37;
  color: black;
  border: black;
  padding: 0.5rem;
  width: 150px;
  height: 22px;
}

/* SHOP */

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 60%;
}

table {
  padding: 0.5rem;
}

thead {
  font-weight: bold;
  font-size: 0.1rem;
}

th {
  background-color: #297f37;
  font-weight: bold;
  text-align: left;
}

.table-picture {
  margin: auto;
}
